:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --site-color-favourite-background: #f6d5f7;
  --site-color-svg-icon-favourite: #e9669e;
  --site-color-checkbox-checked-bg: hsl(167deg 56% 73% / 25%);
}

[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-lightest: #4fddbf;
  --site-color-favourite-background: #4a1d4a;
  --site-color-checkbox-checked-bg: hsl(167deg 56% 73% / 10%);
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}

.designedBy {
  display: inline-flex;
  align-items: center;

  .heart {
    margin: 0.25rem;
    animation: heart 1500ms infinite;
    fill: red;
  }

  a {
    margin-inline-start: 0.25rem;
  }
}